.signin {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  word-break: break-all;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
}

form {
  margin: 20px;
}

.signin_title {
  margin: 20px;
  font-size: 20px;
  font-weight: 700;
}

.signin input {
  margin: 30px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
  display: flex;
  flex-flow: column;
}